body.bg-light{
     background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.logo {
    font-family: 'Sora', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -1px;
    color: white;
    text-decoration: none;
}

.logo span {
    color: #B8E1FF;
}
.logo {
    transition: transform .2s ease;
}

.logo:hover {
    transform: scale(1.03);
}