<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
        
              <title>TO DO LIST</title>
    </head>
    <body>
      <!--left side -->
      <section class="hero-text">
        <!--left side -->
        <div class="hero-text">
         <h1>
            Organise<br>Seamlessly.<br> Achieve <br>More.
         </h1>
         <h2>
            A simple and powerful<br>task manager that helps<br>you stay focused,
            meet<br>deadlines,and <br>accomplish <br> your goals.
         </h2>
          <!--Right side -->
        <div class="hero-image">
             <img src="{{ url_for('static', filename='images/phone.jpeg') }}" alt="To do app">
        </div>

         <a href="/create">
         <div class="btn-wrapper">
         <button class="btn">      
            Get Started 
            <span>➤</span>
         </button>
         </div>
         </a>
        </div>
        
     </section>
         <!--Features Section -->
         <section class="features">
         <div class="feature-card">
            <img src="{{ url_for('static', filename='images/task.png') }}" alt="easy tasks">
         <h3>Easy task</h3>
         <p>
            create,<br>edit and<br>organise<br>task in<br>seconds
         </p>
        </div>
        <div class="feature-card">
            <img src="{{ url_for('static', filename='images/calendar.png') }}" alt="due dates">
          <h3>Due<br>Dates</h3>
          <p>
            Set due<br>dates<br>and<br>never<br>miss deadlines
          </p>
        </div>
        <div class="feature-card">
            <img src="{{ url_for('static', filename='images/tag.png') }}" alt="Categories">
         <h3>Categories</h3>
         <p>
            Organise<br>your task<br>by School,<br>Work,and<br>more.
         </p>
        </div>
        <div class="feature-card">
            <img src="{{ url_for('static', filename='images/flag.png') }}" alt="Priority">
         <h3>Priority</h3>
         <p>
            Set<br>priorities<br>on what<br>matters<br>most.
         </p>
        </div>
         </section>
    </body>
</html>
