<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COS Group 5 project</title>
    <link rel="stylesheet" href="{{url_for('static', filename='view_task.css')}}">
    <script src="{{url_for('static', filename='view_task.js')}}" defer></script>
</head>
<body class="gallery2">
  <div class="container2">
    <a href="/create" class="new">
    <div class="new-task">
       + Add new task
    </div>
    </a>
    <div class="view-task">
        <h1>View Tasks</h1>
        <div class="actions">
            <button class="select-btn">
                Select  All ▼
            </button>
            <button class="delete-btn">
                🗑 Delete
            </button>
        </div>
    </div>
    <div class="search-container">
       <input type="text" id="searchInput" class="search-input" placeholder="🔍 Search tasks...">
    </div>
    <div class="status-tabs">
       <button id="allBtn" class="status-tab active">All</button>
       <button id="pendingBtn" class="status-tab">Pending</button>
       <button id="completedBtn" class="status-tab">Completed</button>
    </div>
    <div class="filter-tabs">
          <span>Filter by :</span>
          <select>
             <option value ="" selected disabled>Status</option>
             <option>Pending</option>
             <option>Completed</option>
          </select>
          
          <select>
             <option value ="" selected disabled>All Categories</option>
             <option>School</option>
             <option>Work</option>
             <option>Shopping</option>
             <option>Health</option>
             <option>Birthday</option>
             <option>Others</option>
          </select>

          <select>
             <option value ="" selected disabled>All Priorities</option>
             <option>High</option>
             <option>Medium</option>
             <option>Low</option>
          </select>
        </div>
    


</div>
     
</body>
</html>